BraveSoftware
dconf
gh
gtk
neofetch
pulse
yay
plugin/
Session
__*__*
transmission*
vlc
QtPro*

Slack
Unknown Organization
slack-term
zoomus.conf
configstore
git
git
git
iterm2
karabiner
kitty
.DS_Store
alacritty/alacritty.yml-e
Brim
Postman
chromium/Crash Reports
freerdp
nextjs-nodejs
yandex-browser
thefuck
zoom.conf
lazygit/state.yml
deluge
yarn/global
caffeine
fontforge
nvm
obs-studio
shadowsocks-qt5
github-copilot
kdenlive-layoutsrc
kdenliverc
qv2ray
