lazygit/
BraveSoftware
dconf
gh
gtk
neofetch
pulse
yay
plugin/
Session
__*__*
transmission*
vlc
QtPro*

Slack
Unknown Organization
slack-term
zoomus.conf
configstore
git
git
git
iterm2
karabiner
kitty
.DS_Store
alacritty/alacritty.yml-e